<div class="info">
  <p class="info__text"> Веб сервер: {{ server }}</p>
  <p class="info__text"> Версия иинтерпретатора: {{ phpVersion }}</p>
  <p class="info__text"> Информация о браузере пользователя: {{ browserVersion }}</p>
</div>