{% if islogin %}
    <button id="user-logout" type="submit" name="logout" value="{{ logout }}" class="btn btn-primary">
        Выход
    </button>
{% endif %}
	<nav>
	<a href="/">Главная</a>
	<a href="/user">Пользователи</a>
	<a href="/site/info">Информация</a>
</nav>

