<nav class="header__navigation">
	<a class="header__navigation_a" href="/">Главная</a>
	<a class="header__navigation_a" href="/user">Пользователи</a>
	<a class="header__navigation_a" href="/site/info">Информация</a>
</nav>
